@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Pen Script";
  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 850px) {
  .App {
    width: 1080px;
  }
}

@media (max-width: 850px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: rgb(240, 246, 252);
  box-shadow: rgba(58, 58, 104, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding-left: 50px;
  padding-right: 50px;
}

/* Header */
header {
  padding: 20px 0 20px 0;

  color: rgb(45, 110, 110);

  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0);
}

header > div {
  /* display: flex; */
}

header .head_text {
  width: 50%;
  font-size: 40px;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

.AddBoard {
  width: 150px;
}

.AddMenu {
  font-size: 23px;
  padding-bottom: 5px;
}

.Menu-List {
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 28px;
}

.AddBoard input {
  border: none;
  width: 100px;
  height: 30px;
  margin-right: 2px;
  border-radius: 3px;
  text-align: center;
}

/*  MyButton  */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  /* padding: 10px 20px 10px 20px; */

  font-size: 18px;

  white-space: nowrap;
  font-family: "Nanum Pen Script";
}

.MyButton_default {
  background-color: rgb(199, 213, 238);
  color: black;
}

.MyButton_positive {
  background-color: rgb(162, 228, 224);
  color: black;
}

.MyButton_negative {
  background-color: rgb(236, 182, 165);
  color: black;
}

.BoardItem {
  width: 180px;
}

.BoardItem div {
  padding-top: 5px;
  left: 10px;
  font-size: 20px;
}

.boardName {
  margin-right: 10px;
  font-size: 18px;
}
.Home .Home-position {
  margin-left: 30px;
}

.Home .List {
  padding-top: 20px;
}

.Home h2 {
  padding-top: 25px;
}

.Home .List-Button {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding: 5px 15px 5px 15px;
  margin-top: 45px;
  margin-left: 57px;

  font-size: 18px;

  white-space: nowrap;
  font-family: "Nanum Pen Script";

  background-color: rgb(53, 56, 61);
  color: wheat;
}

.Post {
  font-size: 30px;
}

.Post_h2 {
  margin-bottom: 50px;
}

.PostTitle {
  border: none;
  border-radius: 5px;

  padding: 10px 10px;

  background-color: rgb(236, 219, 219);
  font-size: 25px;

  width: 100%;
  min-height: 20px;
}

.PostContent {
  border: none;
  border-radius: 5px;

  padding: 10px 10px;

  background-color: rgb(236, 219, 219);
  font-size: 25px;

  width: 100%;
  min-height: 300px;
}

.Post_button_1 {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding: 5px 15px 5px 15px;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 60px;

  font-size: 25px;

  white-space: nowrap;
  font-family: "Nanum Pen Script";

  background-color: rgb(53, 56, 61);
  color: wheat;
}
.Post_button_2 {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding: 5px 15px 5px 15px;
  margin-top: 15px;
  margin-left: 37%;

  font-size: 25px;

  white-space: nowrap;
  font-family: "Nanum Pen Script";

  background-color: rgb(53, 56, 61);
  color: wheat;
}
.Post_button_3 {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding: 5px 15px 5px 15px;
  margin-left: 310px;
  font-size: 25px;

  white-space: nowrap;
  font-family: "Nanum Pen Script";

  background-color: rgb(53, 56, 61);
  color: wheat;
}

.PostList {
  display: flex;
  justify-content: space-between;
  height: 100%;

  border-left: 1px soild black;
}

.PostList .Post-Option {
  margin-top: 60px;
  font-size: 20px;
}

.Post-Item {
  margin-top: 10px;
  margin-right: 200px;
  font-size: 20px;
  cursor: pointer;
}

.Post_Button_1 {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding: 5px 15px 5px 15px;

  font-size: 18px;

  white-space: nowrap;
  font-family: "Nanum Pen Script";

  background-color: rgb(53, 56, 61);
  color: wheat;
}

.Post_Button_2 {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding: 5px 15px 5px 15px;
  margin-left: 10px;

  font-size: 18px;

  white-space: nowrap;
  font-family: "Nanum Pen Script";

  background-color: rgb(53, 56, 61);
  color: wheat;
}

.PostItem button:last-child {
  margin-left: 10px;
}

.input_date {
  font-family: "Nanum Pen Script";
  border: none;
  background-color: antiquewhite;

  width: 110px;
  height: 30px;
  font-size: 20px;

  margin-bottom: 10px;
}

.title {
  font-family: "Nanum Pen Script";
  font-size: 20px;

  box-sizing: border-box;
  width: 100%;
  height: 40px;
  resize: none;

  border: none;
  border-radius: 5px;
  background-color: rgb(236, 219, 219);

  padding-top: 5px;
  padding-left: 12px;
}

.content {
  font-family: "Nanum Pen Script";
  font-size: 20px;

  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  resize: vertical;

  border: none;
  border-radius: 5px;
  background-color: rgb(236, 219, 219);

  padding-top: 8px;
  padding-left: 12px;
}

.PostEditor button {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding: 5px 15px 5px 15px;
  margin-top: 10px;
  margin-right: 10px;

  font-size: 18px;

  white-space: nowrap;
  font-family: "Nanum Pen Script";

  background-color: rgb(53, 56, 61);
  color: wheat;
}

.h4_date {
  margin-top: 10px;
}
